PROJECT_NAME=VocaCare
MONGODB_URL=mongodb://username:password@cluster.mongodb.net/database?retryWrites=true&w=majority
DATABASE_NAME=Stuttering
SECRET_KEY=YOUR_SUPER_SECRET_KEY_KEEP_IT_SAFE
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
